// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "bootstrap/scss/functions";

// Customize some defaults
$body-color: #fffffF;
$body-bg: #1A313C;
$border-radius: .4rem;
$success: #7952b3;

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
@import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


//
// Custom styles
//


body {
  // padding: 1.5rem;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  /* Assuming you want this on the body, but it can be any element */
  background-color: #1A313C;
  background-image: url(../assets/img/home_bg_mapblue_1920.jpg); /* Set your image path */
  background-position: top center; /* Align the top edge of the image with the top of the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: auto 750px; /* Set the width to auto (keep aspect ratio) and the height to 750px */
}

.footer {
  background-color: #1A313C;
}

.bg-nightsky {
  background-color: #09191C;
}

.bg-cloud {
  background-color: #E5E6E7;
}

.bg-cloud-lite {
  background-color: #f1f1f1;
}

.bg-light-brown {
  background-color: #F0E9DD;
}

.border-bronze {
  border-color: #a2834c !important;
}

// .bg-why-we-exist {
//   background: url(../assets/img/Why_assets/why_header_1920.png) no-repeat center center fixed; 
//   background-size: cover;
//   height: 400px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.bg-why-we-exist-white-image {
  background: url(../assets/img/Why_assets/why_wave_background_1920_placeholder.jpg) no-repeat center bottom; 
}

// .bg-why-we-exist-gray-image {
//   // background: url(../assets/img/Why_assets/why_wave_background_1920_placeholder_gray.jpg) no-repeat center bottom; 
// }

// .bg-how-it-works {
//   background: url(../assets/img/What_Model_assets/What_Model_header_1920.jpg) no-repeat center center fixed; 
//   background-size: cover;
//   height: 400px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.bg-grunge-white-image {
  background: url(../assets/img/What_Model_assets/What_Model_bg_grunge_1920.jpg) no-repeat center bottom; 
}

// .bg-galilee-in-community {
//   background: url(../assets/img/What_Community_assets/What_Community_header_1920.jpg) no-repeat center center fixed; 
//   background-size: cover;
//   height: 400px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.bg-about-us {
  // background: url(../assets/img/About_assets/AboutUs_header_1920.jpg) no-repeat center center fixed; 
  // background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  &:img {
    position: absolute;
    top: 0;
    left: 0;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
  }

}

.bg-helper {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    flex-shrink: 0;
    min-width: 100%;
    max-height: 400px;
    z-index: -1;
  }

  .div-helper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .bg-about-us {
    height: 200px;
    
    &:img {
      max-height: 200px;
    }
  
  }
  
  .bg-helper {
    height: 200px;
  
    img {
      max-height: 200px;
    }
  
    .div-helper {
      height: 200px;
    }
  }
  
}


.bg-white-image {
  background: url(../assets/img/Support_assets/Support_bg_map_1920.jpg) no-repeat center top;
}

.form-bg-white {
  color: #000213;
  background-color: white;
}

.form-bg-white:focus {
  color: #000213;
  background-color: white;
}

.text-color-bronze {
  color: #a2834c;
}

.text-color-dark-night {
  color: #000213;
}

.btn-bronze {
  background-color: #a2834c;
  background-image: none;
  &:hover {
    background-color: #bd9a5a;
    color: white;
  }
}

.footer-logo {
  height: 45px;
}

h1 {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-size: 40px;
}

h3 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #1C5D67;
}

h4 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  color: #1C5D67;
}

h5 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: italic;
  color: #a2834c;
}

p {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

p.lead {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-size: 36px;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: transparent;
  background-image: none;
  color: #a2834c;
  text-decoration: underline;
}

.nav-active {
  border-bottom: 2px solid #a2834c;
  padding-bottom: 3px;
}

.nav-active-dropdown {
  background-color: transparent;
  background-image: none;
  color: #a2834c;
  text-decoration: underline;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}


.big-box {
  height: 80vh;
  position: relative;
}

.stickme {
  position: sticky;
  top: 0;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 1000px) {
  p.lead {
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
  }
}